<%= form_with(model: player, id: "player_form", data: { controller: 'auto-submit' }) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%# todo: do we need this or can we get the room id from the player (if it is needed?) %>
    <%= form.hidden_field :room_id %>
  </div>

  <%# todo: move these two forms to partials %>
  <fieldset>
    <% if player.id %>
      <legend>
        Score (<%= player.name %>)
      </legend>

      <div id="cards">
        <%= form.radio_button(:score, 1) %>
        <%= form.label(:score_1, "1", class: "card #{random_suit}", data: { info: "Very simple story (ex. copy change, patch change)" }) %>
        <%= form.radio_button(:score, 2) %>
        <%= form.label(:score_2, "2", class: "card #{random_suit}", data: { info: "Simple story" }) %>
        <%= form.radio_button(:score, 3) %>
        <%= form.label(:score_3, "3", class: "card #{random_suit}", data: { info: "Story has a few different pieces, but there are no unknowns" }) %>
        <%= form.radio_button(:score, 5) %>
        <%= form.label(:score_5, "5", class: "card #{random_suit}", data: { info: "May have some unknowns, which increase the risk" }) %>
        <%= form.radio_button(:score, 8) %>
        <%= form.label(:score_8, "8", class: "card #{random_suit}", data: { info: "Larger story. More effort, complexity and risk. Potentially something which will need more testing/review before releasing" }) %>
        <%= form.radio_button(:score, 13) %>
        <%= form.label(:score_13, "13", class: "card #{random_suit}", data: { info: "Very large story. Suitable for new features we want to develop that we need to research into" }) %>
        <%= form.radio_button(:score, 21) %>
        <%= form.label(:score_21, "21", class: "card #{random_suit}", data: { info: "Super large" }) %>
      </div>

      <p>or</p>
      <field class="abstain">
        <%= form.label :abstain, data: { info: "You can opt out of voting at any time" } %>
        <%= form.check_box :abstain, data: { controller: :abstain, action: 'click->abstain#onChange' } %>
      </field>
    <% else %>
      <legend>
        Name
      </legend>

      <div>
        <%= form.text_field :name, autofocus: true %>
      </div>
    <% end %>

    <%# todo: and move this button into their respective form partials%>
    <div>
      <% submit_text = player.id ? "Set score" : "Join room" %>
      <%= form.submit submit_text, { hidden: player.id } %>
    </div>
  </fieldset>
<% end %>
