<%= turbo_stream_from "room" %>

<%= render @room %>

<% if @player %>
  <%= render 'players/form', player: @player %>

  <%= button_to "Leave game", @player, method: :delete %>
<% elsif @host %>
  <%= render 'host_panel' %>
<% else %>
  <%= render 'players/form', player: Player.new(room: @room) %>
<% end %>

<p id="notice"><%= notice %></p>
